
<%= form_with model: optime, html: { class: 'text-center mt-3' },  local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field text-center mt-3 ">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control text-center mt-3 ' %>
  </div>
  <div class="field">
    <%= f.label :sleepy %>
    <%= f.select :sleepy, 
   options_for_select([
       ['睡眠時間を選択してください', ''], 
       ['1', '1'], 
       ['２', '２'], 
       ['3', '3'], 
       ['4', '4'], 
       ['5', '5'], 
       ['6', '6'], 
       ['7', '7'], 
       ['8', '8'], 
       ['9', '9'], 
       ['10', '10'], 
       ['11', '11'], 
       ['12', '12'],
       ['13', '13'],
       ]), {}, {class: 'optime__select'} %>
  </div>
  <div class="field">
  <%= f.label :commute %>
    <%= f.select :commute, 
       options_for_select([
       ['通勤時間（往復）を選択してください', ''], 
       ['1', '1'], 
       ['2', '2'], 
       ['3', '3'],
       ['4', '4'],
       ['5', '5'],
       ]), {}, {class: 'optime__select'} %>
  </div>
  <div class="field">
  <%= f.label :work %>
    <%= f.select :work, 
       options_for_select([
       ['勤務時間を選択してください', ''], 
       ['1', '1'], 
       ['2', '2'], 
       ['3', '3'],
       ['4', '4'],
       ['5', '5'],
       ['6', '6'],
       ['7', '7'],
       ['8', '8'],
       ['9', '9'],
       ['10', '10'],
       ['11', '11']
       ]), {}, {class: 'optime__select'} %>
  </div>
  <div class="field">
  <%= f.label :eat %>
    <%= f.select :eat, 
       options_for_select([
       ['食事時間を選択してください', ''], 
          ['1', '1'], 
       ['2', '2'], 
       ['3', '3'],
       ['4', '4'],
       ['5', '5'],
       ['6', '6'],
       ['7', '7'],
       ['8', '8'],
       ['9', '9'],
       ['10', '10'],
       ['11', '11']
       ]), {}, {class: 'optime__select'} %>
  </div>
  <div class="field">
  <%= f.label :hygiene %>
    <%= f.select :hygiene, 
       options_for_select([
       ['衛生（風呂歯磨きトイレ）時間を選択してください', ''], 
          ['1', '1'], 
       ['2', '2'], 
       ['3', '3'],
       ['4', '4'],
       ['5', '5'],
       ['6', '6'],
       ['7', '7'],
       ['8', '8'],
       ['9', '9'],
       ['10', '10'],
       ['11', '11']
       ]), {}, {class: 'optime__select'} %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
