
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header"> <h5 class="card-title"><br></h5></div>
  <div id="optime-id">
  <div class="card-body">
        <p class="card-text"><%= "名前: 時間" %></p>
        <p class="card-text"><%= "睡眠: 時間" %></p>
        <p class="card-text"><%= "仕事:時間" %></p>
        <p class="card-text"><%= "食事: 時間"%></p>
        <p class="card-text"><%= "通勤:時間" %></p>
        <p class="card-text"><%= "衛生管理: 時間" %></p>
  </div>
</div>
</div>